@import "global";

.section-page {
    padding: 100px 30%;
    height: 100%;
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
}

.about .portfolio {
    height: 100%;
}