@import "global";

.section-page {
    padding: 100px 0 200px 0;
    height: 100%;
}

.skills {
    margin-left: 20px;
    &__title {
        margin: 4px 0;
        font-weight: 600;
    }
    &__badge {
        display: inline-flex;
        height: 15px;
        border-radius: 14px;
        margin: 2px;
        padding: 4px 8px;
        background-color: $color-darkblue;
        color: white;
        font-size: 12px;
    }
}

.tooltiptext {
    display: none;
    position: absolute;
    z-index: 1;
    top: -20px;
}

/* styles for the about page */

.about {
    height: 100%;
    padding: 0 20%;
    &__header {
        display: flex;
        &-title {
            margin-left: 12px;
            display: block;
            font-size: 24px;
        }
        &-resume {
            position: relative;
            &:hover .tooltiptext {
                display: block;
            }
        }
    }
    &__section {
        margin: 12px 0;
        &-title {
            margin: 12px 0 4px 0;
            font-weight: 600;
        }
        &-body {
            margin-left: 12px;
        }
    }
    .resume {
        width: 50px;
        height: auto;
        // filter calculator: https://codepen.io/sosuke/pen/Pjoqqp
        // light purple (link color)
        filter: invert(38%) sepia(73%) saturate(635%) hue-rotate(221deg) brightness(90%) contrast(81%);
        &:hover {
            // bright purple (hovered link color)
            filter: invert(11%) sepia(96%) saturate(4752%) hue-rotate(266deg) brightness(90%) contrast(149%);
        }
    }
}

/* styles for the portfolio page */

.portfolio {
    height: 100%;
    padding: 0 5%;
    .projects {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &__col {
            width: 40%;
            max-width: 500px;
            margin: 20px 50px;
        }
    }
    .card {
        height: 300px;
        width: 100%;
        border: 1px solid $color-mediumblue;
        border-radius: 8px;
        display: grid;
        align-content: center;
        &:hover {
            border: 1px solid $color-brightpurple;
            cursor: pointer;
            .card__body {
                display: none;
            }
            .card__media {
                display: flex;
            }
        }
        &__body {
            padding: 20px;
        }
        &__title {
            font-weight: bold;
            font-size: 20px;
        }
        &__description {
            font-size: 15px;
            margin: 15px 0 20px 0;
        }
        &__skills {
            &-badge {
                display: inline-flex;
                height: 15px;
                border-radius: 14px;
                margin: 2px;
                padding: 4px 8px;
                background-color: $color-darkblue;
                color: white;
                font-size: 12px;
            }
        }
        &__media {
            display: none;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 8px;
            &-img {
                flex-shrink: 0;
                height: 110%;
                width: auto;
            }
        }
    }
}

// for phones
@media only screen and (max-width: 768px) {
    .portfolio {
        .projects {
            height: auto;
            &__col {
                width: 100%;
            }
        }
        .card {
            height: auto;
            min-height: 300px;
            &:hover {
                border: 1px solid $color-brightpurple;
                cursor: pointer;
                .card__body {
                    display: block;
                }
                .card__media {
                    display: none;
                }
            }
        }
    }
}

/* styles for the contact page */

.contact {
    height: 100%;
    padding: 0 20%;
}
