@import "global";

.section-page {
    &__close {
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 28px;
    }
    &__title {
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 28px;
    }
}