@import "global";

.section-page {
    padding: 100px 20% 200px 20%;
    height: 100%;
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
}

.about {
    height: 100%;
}

.portfolio {
    height: 100%;
    .projects {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &__col {
            width: 40%;
            margin: 20px 50px;
        }
    }
    .card {
        height: 300px;
        width: 400px;
        border: 1px solid $color-mediumblue;
        border-radius: 8px;
        display: grid;
        align-content: center;
        &:hover {
            border: 1px solid $color-brightpurple;
            cursor: pointer;
            .card__body {
                display: none;
            }
            .card__media {
                display: flex;
            }
        }
        &__body {
            padding: 20px;
        }
        &__title {
            font-weight: bold;
            font-size: 20px;
        }
        &__description {
            font-size: 15px;
            margin: 15px 0 20px 0;
        }
        &__skills {
            &-badge {
                display: inline-flex;
                height: 15px;
                border-radius: 14px;
                margin: 2px;
                padding: 4px 8px;
                background-color: $color-darkblue;
                color: white;
                font-size: 12px;
            }
        }
        &__media {
            display: none;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 8px;
            &-img {
                flex-shrink: 0;
                height: 100%;
                width: auto;
            }
        }
    }
}