// fonts
$font-main: Helvetica, sans-serif;

// colors
$color-darkblue: #090E3C;
$color-mediumblue: #002775;
$color-brightblue: #93C2FF;
$color-lightblue: #E7F1FF;
$color-brightpurple: #4800D4;
$color-darkpurple: #31008E;